<!DOCTYPE html>
<html>
<head>
	<title>Dino</title>
	<link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
	<nav>
		<ul class="nav-bar">
			<li><a href="/">Home</a></li>
			<li>Dinos:</li>
			<li><a href="/dinosaurs">All</a></li>
			<li><a href="/dinosaurs/new">New</a></li>
			<li><a href="/dinosaurs/edit">Edit</a></li>
			<li>Cryptids:</li>
			<li><a href="/cryptids">All</a></li>
			<li><a href="/cryptids/new">New</a></li>
			<li><a href="/cryptids/edit">Edit</a></li>			
		</ul>
	</nav>
	<%- body %>
</body>
</html>