<h1>New Cryp</h1>

<form method="POST" action="/cryptids">
	<label for="cryptid-name">Name</label>
	<input type="text" name="name" id="cryptid-name">
	<label for="cryptid-type">Type</label>
	<input type="text" name="type" id="cryptid-type">
	<label for="cryptid-img">Image URL</label>
	<input type="text" name="img_url" id="cryptid-img">
	<input type="submit" value="Create">
</form>	