<h1><%= myCryptid.name %></h1>
<br>
<img src="<%= myCryptid.img_url %>">
<br>
<form method="POST" action="/cryptids/<%= cryptidIndex %>/?_method=DELETE">
	<input type="submit" value="DELETE">
</form>
<a href="/cryptids/edit/<%= cryptidIndex %>">Edit</a>